#button-top {
    display: inline-block;
    background-color: #fd4906;
    padding: 15px 20px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button-top i {
    font-size: 30px;
    color: #fff;
}

#button-top:hover {
    cursor: pointer;
    background-color: #555;
}

#button-top.show {
    opacity: 1;
    visibility: visible;
}












