#expr {
	@extend %clearfix;
}

.expr {
	h2 {
		font-size: 16px;
		font-weight: $font-weight-xxl-large;
		text-transform: uppercase;
		margin-bottom: em(15px, 16px);
		@include mq(large) {
			margin-top: em(50px, 16px);
		}
	}
	h3 {
		font-size: em(34px);
		margin-bottom: em(15px, 34px);
		line-height: (34px/34px);
		font-weight: $font-weight-xxl-large;
	}
	p {
		margin-bottom: em(15px, 18px);
	}
	img {
		@include mq(medium) {
			height: em(500px);
			object-fit: cover;
		}
		@include mq(large) {
			height: em(450px);
		}
	}
	article {
		background-color: $color-primary;
		padding: em(40px) em(20px);
		color: $white;
		@include mq(medium) {
			height: em(500px);
		}
		@include mq(large) {
			height: em(450px);
		}
	}
}